<!-- templates/package_details.html -->
{% extends 'base.html' %} {% block title %}Package details{% endblock %} {%block content %}
<!-- Package Details -->
<div style="margin-top: 90px;padding: 5px ;">

  <div class="payment-box">
        <img src="{{ package.place_image }}" alt="{{ package.package_title }} Image" />

    <h2>{{ package.package_title }}</h2>
    <h4>Price: ₹{{ package.price }}</h4>

    <div class="btn-pay">
      <a href="https://rzp.io/rzp/zHUAdbZP" class="btn btn-success btn-lg" target="_blank">Confirm & Pay</a>
    </div>
  </div>

</div>

{% endblock %}
